.content {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 60%;
    max-height: 70vh;
    overflow-y: auto;
    font-family: 'Georgia', serif; /* Cambia la fuente para mejorar la legibilidad */
    line-height: 1.6; /* Incrementa el espacio entre líneas */
}

.content h1, .content h2, .content h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.content p {
    margin-bottom: 15px;
}

.content a {
    color: #007BFF; /* Establece un color para los enlaces */
    text-decoration: none; /* Elimina el subrayado por defecto */
}

.content a:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón sobre el enlace */
}
